name = "the-ride"
compatibility_date = "2024-11-28"
pages_build_output_dir = "./dist"

# D1 Database binding
[[d1_databases]]
binding = "DB"
database_name = "theride-db"
database_id = "86c35cca-68fd-4d93-8d4a-c7a3ab463b10"
